/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
	::-moz-selection{background:#bb342b; color: #ffffff; text-shadow:none}
	::selection{background:#bb342b; color: #ffffff; text-shadow:none}
	body {
		background: url(../images/white-bg-pattern.jpg);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		line-height: 24px;
	}
	a { text-decoration: none; }
	.center { text-align: center; }
	.right { text-align: right;}
	.float-left { float: left; }
	.float-right { float: right; }
	.bold { font-weight: bold; }
	.italic { font-style: italic; }
	/* 
	 * 
	 * Navigation Container Styling Universal Across Pages. 
	 * 
	 */
	.nav-container {
		height: 7.8125em;
	}
	.nav-container h1 a {
		color: #000000;
		font-family: 'milwaukeeregular';
		font-size: 2.875em;
		line-height: 3.21em;
		text-transform: uppercase;
	}
	.nav-container nav {
		float: right;
	}
	.nav-container nav ul li {
		float: left;
		line-height: 1em;
		margin: 3.5em 2em 0 0;
	}
	.nav-container nav ul li:last-child {
		margin-right: 0;
	}
	.nav-container nav ul li a {
		background-color: rgba(165, 53, 42, 0);
		border: 1px solid rgba(129, 19, 19, 0);
		border-radius: 10px;
		color: #000000;
		font-size: 0.875em;
		font-style: italic;
		font-weight: bold;
		line-height: 2em;
		padding: 0.214em 0.571em;
	}
	.nav-container nav ul li.active a, .nav-container nav ul li:hover a {
		background-color: #A5352A;
		border: 1px solid #811313;
		border-radius: 10px;
		color: #ffffff;
		text-shadow: 1px 1px 1px #490707;
	}
	/*
	 * 
	 * Home Container styling. only on home page. 
	 * 
	 */
	.red-container {
		background: #bb342b;
		background: -moz-linear-gradient(top,  #bb342b 0%, #992b23 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb342b), color-stop(100%,#992b23));
		background: -webkit-linear-gradient(top,  #bb342b 0%,#992b23 100%);
		background: -o-linear-gradient(top,  #bb342b 0%,#992b23 100%);
		background: -ms-linear-gradient(top,  #bb342b 0%,#992b23 100%);
		background: linear-gradient(to bottom,  #bb342b 0%,#992b23 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb342b', endColorstr='#992b23',GradientType=0 );
		border-top: 0.125em solid #bb342b;
	}
	.home-container .row {
		padding: 3.25em 0;
	}
	.red-container h1.intro {
		color: #000000;
		font-family: 'League Gothic';
		font-size: 3.125em;
		line-height: 0.875em;
		text-transform: uppercase;	
	}
	.home-container h1.intro {
		margin: 0 2em 0.5em 0;
	}
	.portfolio-container h1.intro {
		line-height: 1em;
		padding: 0.2em 0;
	}
	.red-container h1.intro strong {
		color: #ffffff;
		font-weight: bold;
	}
	.red-container p.intro-text {
		color: #e8cccc;
		font-size: 0.875em; 
	}
	.red-container p.intro-text strong {
		color: #f9f9f9;
		font-weight: bold;
	}
	.red-container .get-in-touch img {
		text-align: center;
	}
	.red-container .get-in-touch h2 {
		color: #5b1c15;
		font-family: 'League Gothic';
		font-size: 2.25em; /* Set as 24 until i get font issue fixed. Font size should be 36px */
		font-weight: normal;
		margin: 0.5em 0;
		text-align: center;
		text-transform: uppercase;
	}
	.home-container .get-in-touch {
		border-bottom: 1px solid #84241e;
		border-top: 1px solid #84241e;
		padding: 1.5em 0;
	}
	.portfolio-container .get-in-touch {
		padding: 0.625em 0 0;
	}
	.get-in-touch .icons {
		text-align: center;
	}
	.portfolio-container .get-in-touch .icons {
		text-align: right;
	}
	.get-in-touch .icons img {
		margin-right: 0.3125em;
	}
	.get-in-touch .icons a:last-child img {
		margin-right: 0;
	}
	.portfolio-container .get-in-touch .icons img, .home-container .get-in-touch .icons img {
		position: relative;
	}
	.portfolio-container .get-in-touch .icons img:hover {
		/*transition: top 1s;
		-moz-transition: top: 1s;
		transition-timing-function: linear;
		-moz-transition-timing-function: linear;*/
		position: relative;
	}
	.home-portfolio {
		padding-top: 3.125em;
		padding-bottom: 14.75em;
	}
	.home-portfolio img {
		border: 0.625em solid #FFFFFF;
		border-radius: 5px;
		box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-o-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-ms-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		transition: box-shadow 1s;
		-moz-transition: box-shadow 1s; /* Firefox 4 */
		-webkit-transition: box-shadow 1s; /* Safari and Chrome */
		-o-transition: box-shadow 1s; /* Opera */
	}
	.home-portfolio img:hover {
		box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-o-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-ms-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
	}
	.home-portfolio .home-portfolio-item {
		margin: 1.25em;
	}
	/* Portfolio Section Styling */
	.portfolio {
		padding-top: 3.125em;
		padding-bottom: 3.125em;
	}
	.portfolio img {
		border: 0.625em solid #FFFFFF;
		border-radius: 5px;
		box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-o-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-ms-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		margin: 0 0 1em;
		transition: box-shadow 1s;
		-moz-transition: box-shadow 1s; /* Firefox 4 */
		-webkit-transition: box-shadow 1s; /* Safari and Chrome */
		-o-transition: box-shadow 1s; /* Opera */
	}
	.portfolio img:hover {
		box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-o-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-ms-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
	}
	.portfolio .portfolio-item {
		margin: 1em 1em 0 1em;
	}
	.portfolio p {
		color: #000000;
		font-size: 0.75em;
		line-height: 1.3333em;
		margin: 0 0 0.5em 1em;
	}
	.portfolio p a {
		color: #a5352a;
		font-weight: bold;
		text-decoration: underline;
		text-transform: uppercase;
	}
	.portfolio p a:hover {
		color: #000000;
		transition: color 0.5s;
		-moz-transition: color 0.5s; /* Firefox 4 */
		-webkit-transition: color 0.5s; /* Safari and Chrome */
		-o-transition: color 0.5s; /* Opera */
	}
	/* Footer styling */
	.footer-container {
		background-color: #000000;
		padding-top: 3em;
		padding-bottom: 3em;
		text-align: right;
	}
	.footer-container h1 {
		color: #ebebeb;
		display: inline;
		font-family: 'League Gothic';
		font-size: 3.125em;
		line-height: 1em;
		padding-bottom: 0.5em 0;
	}
	.footer-container a.btn {
		background: #C14E43;
		background: -moz-linear-gradient(top,  #95221a 0%, #c6382d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95221a), color-stop(100%,#c6382d));
		background: -webkit-linear-gradient(top,  #95221a 0%,#c6382d 100%);
		background: -o-linear-gradient(top,  #95221a 0%,#c6382d 100%);
		background: -ms-linear-gradient(top,  #95221a 0%,#c6382d 100%);
		background: linear-gradient(to bottom,  #95221a 0%,#c6382d 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95221a', endColorstr='#c6382d',GradientType=0 );
		border: 1px solid #b9463b;
		border-radius: 5px;
		-webkit-box-shadow: 1px 1px 1px 1px #611e18, inset 1px 1px 0px 1px rgba(255, 255, 255, 0.37);
        box-shadow: 1px 1px 1px 1px #611e18, inset 1px 1px 0px 1px rgba(255, 255, 255, 0.37);
		color: #ffffff;
		display: inline-block;
		font-family: 'League Gothic';
		font-size: 1.125em;
		line-height: 1em;
		margin: 0 0.2em 1.75em 1.333em; 
		padding: 0.33em 1.5em;
		position: relative;
		text-shadow: 1px 1px 1px #7e1a13;
        filter: dropshadow(color=#7e1a13, offx=1, offy=0);
		text-transform: uppercase;
		vertical-align: middle;
	}
	.footer-container h1 a.btn:hover {
		
	}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	.footer-container {
		text-align: left;
	}
	.nav-container {
		margin-bottom: 4.25em;
	}
	.nav-container nav {
		float: none;
	}
	.nav-container h1 a {
		line-height: 1em;
	}
	.nav-container nav ul {
		
	}
	.nav-container nav ul li {
		display: block;
		margin: 0;
		width: 100%;
	}
	.nav-container nav ul li {
		margin-bottom: 0.5em;
	}
	.nav-container nav ul li a {
		background-color: #ffffff;
		border: 1px solid #811313;
		border-radius: 10px;
		display: block;
	}
	.nav-container nav ul li a:hover {
		
	}
	.home-container .get-in-touch {
		border: none;
	}
	.red-container .get-in-touch h2 {
		padding-left: 20px;
		text-align: left;
	}
	.home-container .get-in-touch p.center {
		display: none;
	}
	.portfolio-container .get-in-touch {
		padding: 0;
	}
	.home-portfolio {
		padding-bottom: 4.75em;
	}
	.get-in-touch .icons {
		padding-left: 20px;
		text-align: left;
	}
	.footer-container a.btn {
		margin: 1em 0.2em 1.75em 0;
	}
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}