/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		line-height: 24px;
	}
	a { text-decoration: none; }
	.center { text-align: center; }
	.right { text-align: right;}
	.float-left { float: left; }
	.float-right { float: right; }
	.bold { font-weight: bold; }
	.italic { font-style: italic; }
	/* 
	 * 
	 * Navigation Container Styling Universal Across Pages. 
	 * 
	 */
	.nav-container {
		background: #FAFCFE;
		height: 7.8125em;
	}
	.nav-container h1 a {
		color: #000000;
		font-family: 'milwaukeeregular';
		font-size: 2.875em;
		line-height: 3.21em;
		text-transform: uppercase;
	}
	.nav-container nav ul li {
		float: left;
		line-height: 1em;
		margin: 3.5em 2em 0 0;
	}
	.nav-container nav ul li a {
		color: #000000;
		font-size: 0.875em;
		font-style: italic;
		font-weight: bold;
		line-height: 2em;
		padding: 0.214em 0.571em;
	}
	.nav-container nav ul li.active a, .nav-container nav ul li:hover a {
		background-color: #A5352A;
		border: 1px solid #811313;
		border-radius: 10px;
		color: #ffffff;
		text-shadow: 1px 1px 1px #490707;
	}
	/*
	 * 
	 * Home Container styling. only on home page. 
	 * 
	 */
	.home-container {
		background: #bb342b;
		background: -moz-linear-gradient(top,  #bb342b 0%, #992b23 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb342b), color-stop(100%,#992b23));
		background: -webkit-linear-gradient(top,  #bb342b 0%,#992b23 100%);
		background: -o-linear-gradient(top,  #bb342b 0%,#992b23 100%);
		background: -ms-linear-gradient(top,  #bb342b 0%,#992b23 100%);
		background: linear-gradient(to bottom,  #bb342b 0%,#992b23 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb342b', endColorstr='#992b23',GradientType=0 );
		border-top: 0.125em solid #bb342b;
	}
	.home-container .row {
		padding: 3.25em 0;
	}
	.home-container h1.intro {
		color: #000000;
		font-family: 'League Gothic';
		font-size: 3.125em;
		line-height: 0.875em;
		margin: 0 2em 0.5em 0;
		text-transform: uppercase;	
	}
	.home-container h1.intro strong {
		color: #ffffff;
		font-weight: bold;
	}
	.home-container p.intro-text {
		color: #e8cccc;
		font-size: 0.875em; 
	}
	.home-container p.intro-text strong {
		color: #f9f9f9;
		font-weight: bold;
	}
	.home-container .get-in-touch img {
		text-align: center;
	}
	.home-container .get-in-touch h2 {
		color: #5b1c15;
		font-family: 'League Gothic';
		font-size: 2.25em; /* Set as 24 until i get font issue fixed. Font size should be 36px */
		font-weight: normal;
		margin: 0.5em 0;
		text-align: center;
		text-transform: uppercase;
	}
	.get-in-touch {
		border-bottom: 1px solid #84241e;
		border-top: 1px solid #84241e;
		padding: 1.5em 0;
	}
	.get-in-touch .icons {
		text-align: center;
	}
	.get-in-touch .icons img {
		margin-right: 0.3125em;
	}
	.get-in-touch .icons a:last-child img {
		margin-right: 0;
	}
	.get-in-touch .twitter {
		
	}
	.get-in-touch .twitter:hover {
		
	}
	.get-in-touch .linked {
		
	}
	.get-in-touch .mail {
		
	}
	.home-portfolio {
		padding-top: 3.125em;
		padding-bottom: 14.75em;
	}
	.home-portfolio img {
		border: 0.625em solid #FFFFFF;
		border-radius: 5px;
		box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-o-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		-ms-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.42);
		margin: 0.2em 0.7em;
		transition: box-shadow 1s;
		-moz-transition: box-shadow 1s; /* Firefox 4 */
		-webkit-transition: box-shadow 1s; /* Safari and Chrome */
		-o-transition: box-shadow 1s; /* Opera */
	}
	.home-portfolio img:hover {
		box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-o-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
		-ms-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.75);
	}
	
	/* Footer styling */
	.footer-container {
		background-color: #000000;
		padding-top: 3em;
		padding-bottom: 3em;
		text-align: right;
	}
	.footer-container h1 {
		color: #ebebeb;
		font-family: 'League Gothic';
		font-size: 3.125em;
		line-height: 1em;
		padding-bottom: 0.5em 0;
	}
	.footer-container h1 a.btn {
		background: #C14E43;
		background: -moz-linear-gradient(top,  #95221a 0%, #c6382d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95221a), color-stop(100%,#c6382d));
		background: -webkit-linear-gradient(top,  #95221a 0%,#c6382d 100%);
		background: -o-linear-gradient(top,  #95221a 0%,#c6382d 100%);
		background: -ms-linear-gradient(top,  #95221a 0%,#c6382d 100%);
		background: linear-gradient(to bottom,  #95221a 0%,#c6382d 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95221a', endColorstr='#c6382d',GradientType=0 );
		border: 1px solid #b9463b;
		border-radius: 8px;
		-webkit-box-shadow: 1px 1px 1px 1px #611e18, inset 1px 1px 0px 1px rgba(255, 255, 255, 0.37);
        box-shadow: 1px 1px 1px 1px #611e18, inset 1px 1px 0px 1px rgba(255, 255, 255, 0.37);
		color: #ffffff;
		font-size: 0.36em;
		line-height: 2em;
		margin-right: 0.2em;
		padding: 0.33em 1.5em;
		text-shadow: 1px 1px 1px #7e1a13;
        filter: dropshadow(color=#7e1a13, offx=1, offy=0);
		text-transform: uppercase;
		
	}
	.footer-container h1 a.btn:hover {
		
	}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}